<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input type="hidden" name="id" id="id" value="<%= article.id %>">
                <input class="form-control" type="text" name="title" id="title" placeholder="Defina o titulo do Artigo" value="<%= article.title %>">
                <br>
                <label for="categories">Categorias</label>
                <select name="category" class="form-control" id="category">
                    <% categories.forEach(category => {%>
                        <% if (category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                    <% }) %>
                </select>
                <br>
                <textarea class="form-control" name="body" id="body" cols="30" rows="10" placeholder="Escreva o artigo aqui!"><%= article.body %></textarea>
                <br>
                <button class="form-control btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#body",
        plugins: [
            'advlist',
            'autolink',
            'link', 
            'image', 
            'lists',  
            'print', 
            'preview',
            'hr', 
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'paste',
            'emoticons'
        ]
    })
</script>